div.bg{
	width: 100vw;
	height: 100vh;
	position: absolute;
	left: 0;
	top: 0;
	background-image: url('../img/bg-login.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	z-index: -2;
}

div.overlay{
	width: 100vw;
	height: 100vh;
	background: rgba(10,161,166,0.8);
	background: -moz-linear-gradient(top, rgba(10,161,166,0.8) 0%, rgba(212,26,240,0.8) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(10,161,166,0.8)), color-stop(100%, rgba(212,26,240,0.8)));
	background: -webkit-linear-gradient(top, rgba(10,161,166,0.8) 0%, rgba(212,26,240,0.8) 100%);
	background: -o-linear-gradient(top, rgba(10,161,166,0.8) 0%, rgba(212,26,240,0.8) 100%);
	background: -ms-linear-gradient(top, rgba(10,161,166,0.8) 0%, rgba(212,26,240,0.8) 100%);
	background: linear-gradient(to bottom, rgba(10,161,166,0.8) 0%, rgba(212,26,240,0.8) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0aa1a6', endColorstr='#d41af0', GradientType=0 );
}
div.overlay-superior{
	width: 100vw;
	height: 100vh;
	position: absolute;
	left: 0;
	top: 0;
	background: rgba(0,0,0,0.7);
}

div.alert ul li{
	list-style: none;
}

.box-formulario{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border: 1px solid transparent;
	border-radius: 10px;
	background-color: rgba(39, 71, 107, .6);
	color: rgb(169, 180, 195);
}

.box-login{
	width: 30%;
	max-width: 350px;
	min-width: 250px;
	padding: 3%;
}
.box-login a{
	color: rgb(169, 180, 195);
	text-decoration: none;
	font-size: 12px;
}

/**
* HEADER E FOOTER
* ============================================================
*/
header{
	width: 100%;
	height: 50px;
	color: white;
	background-image: url('../img/bg-login.jpg');
	background-position: bottom;
}
header div{
	width: 100%;
	height: 100%;
	padding: 10px;
	background: rgba(10,161,166,0.8);
	background: -moz-linear-gradient(rgba(10,161,166,0.8) 0%, rgba(212,26,240,0.8) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(10,161,166,0.8)), color-stop(100%, rgba(212,26,240,0.8)));
	background: -webkit-linear-gradient(rgba(10,161,166,0.8) 0%, rgba(212,26,240,0.8) 100%);
	background: -o-linear-gradient(rgba(10,161,166,0.8) 0%, rgba(212,26,240,0.8) 100%);
	background: -ms-linear-gradient(rgba(10,161,166,0.8) 0%, rgba(212,26,240,0.8) 100%);
	background: linear-gradient( rgba(10,161,166,0.8) 0%, rgba(212,26,240,0.8) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0aa1a6', endColorstr='#d41af0', GradientType=0 );
}
header h3{
	text-align: center;
}

footer{
	width: 100%;
	height: 40px;
	padding: 10px;
}
footer p{
	font-size: 10px;
	text-align: center;
}
/**
*
* ============================================================
*/


/**
* DEFINIÇÕES GERAIS DE FORMULARIOS
* ============================================================
*/
.formulario h4{
	margin-bottom: 5px;
	font-weight: 400;
}
.formulario h2{
	margin-bottom: 15px;
}

.formulario input, .btn{
	width: 100%;
}
.formulario input:not([type=submit]), .formulario select{
	padding: 5px 10px;
	margin-bottom: 15px;
	border: 1px solid #ccc;
	border-radius: 5px;
}
.formulario input[type=submit], .btn{
	background-color: #36e89b;
	padding: 10px 20px;
	border-radius: 25px;
	border: transparent;
	color: white;
	font-size: 16px;
	margin-top: 10px;
	margin-bottom: 15px;
	cursor: pointer;
}
/**
* ============================================================
* ============================================================
*/

.box-cadastro-usuario{
	width: 40%;
	max-width: 400px;
	min-width: 250px;
	padding: 3%;
}

div.box-cadastro-usuario a.close{
	color: white;
	position: absolute;
	right: -2%;
	top: -3%;
}
div.box-cadastro-usuario a.close i{
		font-size: 30px;
}

.box-cadastro-usuario .formulario input:not([type=submit]){
	margin-bottom: 10px;
}

.box-cadastro-usuario .formulario input[type=submit]{
	margin-bottom: 0px;
}

/**
* HOME
* ===================================================
*/
.box-busca{
	width: 100%;
	text-align: center;
}
.box-busca form{
	display: inline-block;
	padding: 5px;
}
.box-busca form input, .box-busca form select{
	padding: 2px 10px;
}

nav.nav{
	width: auto;
	height: auto;
	top: 50%;
	transform: translateY(-50%);
	position: absolute;
	background: url(../img/bg-home.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	z-index: 3;
}

nav.nav .div-nav{
	width: 100%;
	height: 100%;
	padding: 50px 0;
	color: white;
	background: rgba(10,161,166,0.8);
	background: -moz-linear-gradient(top, rgba(10,161,166,0.8) 0%, rgba(212,26,240,0.8) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(10,161,166,0.8)), color-stop(100%, rgba(212,26,240,0.8)));
	background: -webkit-linear-gradient(top, rgba(10,161,166,0.8) 0%, rgba(212,26,240,0.8) 100%);
	background: -o-linear-gradient(top, rgba(10,161,166,0.8) 0%, rgba(212,26,240,0.8) 100%);
	background: -ms-linear-gradient(top, rgba(10,161,166,0.8) 0%, rgba(212,26,240,0.8) 100%);
	background: linear-gradient(to bottom, rgba(10,161,166,0.8) 0%, rgba(212,26,240,0.8) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0aa1a6', endColorstr='#d41af0', GradientType=0 );
}
nav.nav, nav.nav .div-nav{
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
}
.div-nav li{
	width: 100%;
	padding: 10px 20px;
}
.div-nav a{
	font-size: 25px;
	text-decoration: none;
	color: white;
}
.div-nav li:hover, .div-nav li.active{
	background-color: rgba(39, 71, 107, .6);
}


section.map{
	width: 100%;
	height: 85vh;
	min-height: 400px;
}
section.map div#map{
	width: 100%;
	height: 100%;
}

/**
* FORMULARIO CRIAR EVENTO
* ============================================================
*/
section.evento form.formulario{
	height: 500px;
}
section.evento form.formulario input, section.evento form.formulario select{
	border-radius: 25px;
	padding: 10px;
}
section.evento form.formulario {
	position: relative;
	margin: 0 0 10px 0;
}
section.evento form.formulario .sub-div-form{
	width: 49%;
}
section.evento form.formulario select{
	width: 100%;
}

section.evento .forms{
	height: 300px;
	position: absolute;
	top: 15%;
	transition: translateY(-25%);
	padding: 30px 50px;
}
section.evento .forms h4{
	text-align: center;
	font-size: 25px;
	margin-bottom: 25px;
}
section.evento .forms .alert-info h4, section.evento .forms .alert-danger h4{
	margin-bottom: 5px !important;
}
section.evento .forms .alert-info, section.evento .forms .alert-info h4{
	font-size: 12px;
	color: green;
	margin-bottom: 10px;
}
section.evento .forms .alert-danger, section.evento .forms .alert-danger h4{
	font-size: 12px;
	color: red;
	margin-bottom: 10px;
}
p.btn{
	text-align: center;
}


section.evento form.formulario div.mapa{
	height: 100%;
	min-height: 200px;
}

section.evento form.formulario div#map{
	width: 100%;
	height: 100%;
}

@media screen and (max-width: 400px){
	.box-login{
		padding: 20px;
	}
}
